.login-page {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, poppins;
}

/* Columna izquierda */
.login-left h1,
.login-left h2 {
  font-family: 'Poppins', sans-serif;
}

.login-left {
  flex: 1;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.login-left h1 {
  font-size: 60px;
  color: #087182;
  margin: 0;
}

.login-left h2 {
  font-size: 20px;
  color: #FF900A;
  letter-spacing: 3px;
  margin-top: 8px;
}

/* Columna derecha */
.login-right {
  flex: 1;
  background: #087182;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: white;
}

.login-card {
  background: transparent;
  width: 100%;
  max-width: 400px;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

/* Inputs con iconos */
.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 40px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

.input-group span {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
}

/* Botón */
.login-btn {
  font-size: 16px;
  display: block;
  margin: 20px auto;
  padding: 10px;
  background: #FF900A;
  border: none;
  border-radius: 6px;
  color: #552C08;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.login-btn:hover {
  background: #e07f0a;
}

.login-links {
  margin-top: 20px;
  text-align: center;
}

.login-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
